<section id="contact">
    <div class="container">
        <div class="row align-itens-center projetos">
            <div class="col">
                <h1>Contatos</h1>

                <p>
                    <code>&lt;&lt;&lt;&lt;&lt;&lt;&frasl;&gt;&gt;&gt;&gt;&gt;</code></p>
                <br>
                <p> Entre em contato conosco para trocarmos ideias e juntos mudarmos<br> a comunidade que vivemos por meio da tecnologia.

                    <p> Tel +55 21 97409649</p>

                    <p> contato@2twodev.com.br
                        <p>
            </div>
            <br>
            <div class="col">
                <div class="card mb-1">

                    <div class="card-body mb-8 ">

                        <form action="/action_page.php" class="was-validated">
                            <div class="mb-3 mt-3">

                                <p class="card-text2"><small class="text-muted">Envie uma mensagem e agende seu Horário</small></p>
                                <input type="text" class="form-control" id="uname" placeholder="Nome" name="uname" required />
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="E-mail">
                            </div>

                            <br/>
                            <textarea class="form-control" rows="3" id="comment" placeholder="Descreva sua mensagem" name="text"></textarea>
                        </form>
                    </div>
                </div>


            </div>
            <br>
        </div>
    </div>

</section>