<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/logo2.png" class="logo" alt="logo" /> TWODEV
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
                <li class="nav-item" *ngFor="let route of routeList">
                    <a class="nav-link" href='{{"#"+route.route}}'>{{ route.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>