// nav {
//     background-color: white;
// }
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000000 !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(209, 104, 28);
    z-index: 6;
}

nav ul li a {
    color: white;
    font-size: 15px;
    margin: auto 5px;
}

nav ul li a :hover {
    color: rgb(255, 106, 0);
}