<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="line typing-animation">Desenvolvimento e consultoria de software</p><br>
                <p>Tecnologia deve ter uma causa e as causas merecem as melhores tecnologias</p>
                <button type="button" class="btn btn-dark btn-lg"> Ver projetos</button>
            </div>
            <div class="col img-col">
                <img src="assets/support-team.png" alt="Startup" class="img-fluid" />
            </div>
        </div>

        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="assets/undraw_programming_re_kg9v.svg" alt="undraw_programming_re_kg9v" class="icon" />
                        <h5 class="card-title">Sistemas web</h5>
                        <div class="card-text">
                            <p>Plataformas de Formação / EAD</p>
                            <p>Plataformas de conteúdo</p>
                            <p>Sistemas administrativos e financeiros</p>
                            <p>Portais institucionais</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="assets/undraw_programming_re_kg9v.svg" alt="programadores" class="icon" />
                        <h5 class="card-title"> Aplicativos Mobile</h5>

                        <div class="card-text">
                            <p> Aplicativos iOS & Android</p>

                            <p> Sistemas para compartilhamento de veículos</p>
                            <p> Aplicações Nativas</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="assets/undraw_programming_re_kg9v.svg" alt="undraw_programming_re_kg9v" class="icon">
                        <h5 class="card-title">Fábrica de RPA</h5>
                        <div class="card-text">
                            Você pode contar com nosso time para acelerar a entrega dos Bots, construindo projetos específicos ou criando um time de trabalho dedicado de acordo com as necessidades da sua empresa.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>