<section id="projetos">
    <div class="container">
        <div class="row align-itens-center">
            <div class="col">
                <h1>Projetos</h1>
            </div>
        </div>

        <div class="row align-itens-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="assets/logo2.png" class="card-img-top" alt="projeto">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">react - javascript - php</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="assets/logo2.png" class="card-img-top" alt="projeto1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">react - javascript - php</small></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-3">
                    <img src="assets/logo2.png" class="card-img-top" alt="projeto1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">react - javascript - php</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-9">
                    <img src="assets/logo2.png" class="card-img-top" alt="projeto1">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">react - javascript - php</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>