<section id="historia">
    <div class="container">
        <div class="row align-itens-center">
            <div class="col">
                <img src="assets/remote-team.png" alt="equipe" class="img-fluid" />
            </div>
            <div class="col">

                <h1>//Quem Somos</h1>
                <p>Olá,essa é um pouco a minha história.<br></p>
                <br> Somos especialistas em criar tecnologia para pessoas, para melhorar a vida delas, possibilitando capacitações, disseminação do conhecimento.
                <p>
                    <br> Criamos Soluções sob medida e especializados na criação de portais e plataformas web, sistemas complexos de integração, aplicativos Android e iOS, além de hardwares e dispositivos eletrônicos, nós conseguimos dar vida a quaisquer
                    ideias e demandas, desde portais simples até complexas plataformas e dispositivos integrados. Tudo construído sob medida para se adequar perfeitamente a cada necessidade. <br><br>

                    <br>
                </p>
            </div>
        </div>
    </div>
</section>