@import '~/node_modules/bootstrap';
body {
    display: block;
    overflow-x: hidden;
}

.line {
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 0.75);
    font-family: monospace;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 23em;
    }
}

@keyframes blinkCusor {
    from {
        boder-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right: transparent;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(209, 104, 28);
    text-align: left;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 50px!important;
}

.buttonfooter {
    max-width: 90%;
    border: none !important;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(252, 172, 0);
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: rgb(5, 5, 5);
    color: white;
}

.btn2 {
    border: none !important;
    outline: none;
    padding: 12px 76px;
    background-color: rgba(255, 81, 0, 0.685);
    cursor: pointer;
}

.btn2:hover {
    background-color: #ddd;
}

.btn2.active {
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: end;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 90px;
}

#hero img {
    max-width: 100% !important;
}

#hero .card {
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}

#hero .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#projetos .projetos {
    margin-bottom: 50px;
}

#contact {
    text-align: left;
    color: rgb(209, 104, 28);
    background-color: rgba(0, 0, 0, 0.979);
    color: white;
}

#contact h1 {
    text-align: left;
    color: white;
    font-weight: 900;
}

.form-label {
    color: #000000;
    font-weight: 900;
    text-align: end;
}

.card-title2 {
    color: #000000;
    font-weight: 900;
    text-align: left;
}

.scrollTop {
    align-items: center;
}